.step-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000;
  color: #fff;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  width: 240px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.step-card:hover {
  transform: scale(1.05);
}

.center-card {
  transform: scale(1.1); /* Slightly larger by default */
}

.center-card:hover {
  transform: scale(1.15); /* Increase size more on hover */
}

.step-button {
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #fff;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-size: 16px; /* Ensure button text is visible */
  display: inline-block; /* Ensure the button is not affected by parent element */
}

.step-button:hover {
  background-color: #FFD700; /* Yellow background */
  color: yellow /* Black text */

}

.step-content img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
}

.step-number {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.step-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.step-description {
  font-size: 14px;
}
