* {
    padding: 0;
    margin: 0 auto;
}

.navbar-header{
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    color: white;
    cursor: pointer;
    background: black;
    max-width: 1200px; /* Set a max-width for the navbar */
    margin: 0 auto; /* Center the navbar */
    width: 100%;
    align-items: center;
}

.navbar-left {
    display: flex;
    justify-content: center;
    cursor: pointer;
    align-items: center;
    gap: 10px;
}

.navbar-left img {
    height: 50px;
}

.navbar-left p {
    font-size: 25px;
}

.navbar-menu {
    display: flex;
    list-style: none;
    gap: 20px;
    color: white;
    font-size: 18px;
}

.navbar-menu li {
    position: relative;
    overflow: hidden;
}

.navbar-menu li a {
    color: white;
    text-decoration: none;
    padding: 10px 0;
    display: inline-block;
}

.navbar-menu li a:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: -100%;
    background-color: yellow;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

.navbar-menu li a:hover:before {
    visibility: visible;
    left: 0;
}

.navbar-right {
    display: flex;
    align-items: center;
}

.navbar-right .signup-button {
    color: white;
    background: black;
    border: 2px solid white;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar-right .signup-button:hover {
    background: yellow;
    border: none;
    color: black;
}
