.footer{
    color: #d9d9d9;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 8vw;
    margin-top: 100px;
}
.footer-main{
    margin-top: 100px;
    color: white;
    font-size: 40px;
    text-align: center;
}
.footer-main button{
    color: white;
    padding: 0;
    border: 1px solid white;
    height: 3rem;
    width: 20%;
    margin-top: 30px;
    font-size: 20px;
    background-color: black;
}
.footer-main button:hover{
    color: yellow;
    font-size: 21px;
}
.footer-main p span{
    color: yellow;
}
.footer-image-set{
    margin-top: 20px;
}
.footer-content{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 80px;
}
.footer-content-left , .footer-content-center ,.footer-content-right{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}
.footer-content-left  li, .footer-content-center li,.footer-content-right li{
    list-style: none;
    margin-bottom: 10px;
    cursor: pointer;
}
.footer-content-left span{
    font-size: 25px;
}
.footer-content-right h2,.footer-content-center h2{
    color: white;
}
.footer-social-icons img{
    width: 40px;
    margin-right: 15px;
}
.footer hr{
    width: 100%;
    height: 2px;
    margin: 20px 0px;
    background-color: gray;
    border: none;
}
@media (max-width: 750px) {
    .footer-content{
        display: flex;
        flex-direction: column;
        gap: 35px;
    }
    .footer-copyright{
        text-align: center;
    }
}
@media (max-width: 750px){
    .footer-content-left,.footer-content-right{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin: 0 auto;
    }
    .footer-social-icons,span{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 0 auto;
    }
    .footer-content-center{
        margin: 0px auto;
    }
    h2{
        text-align: center;
        margin: 0 auto;
        font-size: 15px;
    }
    ul{
        display: flex;
        gap: 20px;
    }
}